<section class="vh-100">
  <div class="topnav">
  <a href="#" class="ytms-logo">

    <img src="../../../assets/img/YTMS_LOGO 1.png" ></a>

  
  </div>
  <div class="container-fluid h-custom">
  <div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-md-9 col-lg-6 col-xl-5">
  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
              class="img-fluid" alt="Sample image">
  </div>
  <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
  <form [formGroup]="userLoginForm" (ngSubmit)="submit()">
  <div>
  <p><strong>WELCOME TO YASH TECHNOLOGIES !!!</strong></p>
  </div>
  <br>
  <div><p>Sign in with your organizational account</p></div>
  
  <div class="form-group form-outline mb-4">
  <label>Email Address</label>
  <input
          type="email"
          formControlName="emailId"
          class="form-control form-control-lg"
          [pattern]="emailpattern"
        />
  <div
          style="color: red;font-size: small;"
          *ngIf="
            userLoginForm.controls['emailId'].touched &&
            userLoginForm.controls['emailId'].invalid
          "
  >
  <span *ngIf="userLoginForm.controls['emailId'].hasError('required')"
  >EmailID is required</span
  >
  <span *ngIf="userLoginForm.controls['emailId'].hasError('pattern')"
  >EmailID is not valid</span
  >
  </div>
  </div>
  <div class="form-group form-outline mb-3">
  <label>Password</label>
  <input
          type="password"
          formControlName="password"
          class="form-control form-control-lg"
        />
  <div
          style="color: red;font-size: small;"
          *ngIf="
            userLoginForm.controls['password'].touched &&
            userLoginForm.controls['password'].invalid
          "
  >
  <span *ngIf="userLoginForm.controls['password'].hasError('required')"
  >Password is required</span
  >
  <span *ngIf="userLoginForm.controls['password'].hasError('pattern')"
  >Password must contain at least one number, one uppercase and a
  lowercase letter and at least 8 characters<br />Password cannot
  contain whitespace</span
  >
  </div>
  </div>
  
  
  <div class="d-flex justify-content-between align-items-center">
    <div>
     
    </div>
    <a [routerLink]="['/forgotPassword']">Forgot password?</a>
  </div>
  <div class="text-center text-lg-start mt-4 pt-2">
  <button type="button" class="button"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;">Sign in</button>
  
  </div>
  </form>
  </div>
  </div>
  </div>
  </section>
  