<mat-toolbar><h2 mat-dialog-title>{{data.date |date:'EEE MMM dd yyyy'}}</h2>
   <!-- <button [matDialogClose]="data" mat-fab class="closebutton"><mat-icon>close</mat-icon></button> -->
  </mat-toolbar>
<mat-dialog-content>
Tasks:<br>
  <table mat-table [dataSource]="dataSourceEvents" class="mat-elevation-z8">
   
    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef> Task Name </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="Start-Date">
      <th mat-header-cell *matHeaderCellDef>Start-Date</th>
      <td mat-cell *matCellDef="let element"> {{element.start| date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="Start">
      <th mat-header-cell *matHeaderCellDef> Start Time </th>
      <td mat-cell *matCellDef="let element"> {{element.start| date:'h:mm a'}} </td>
    </ng-container>

    <ng-container matColumnDef="End-Date">
      <th mat-header-cell *matHeaderCellDef>End-Date</th>
      <td mat-cell *matCellDef="let element"> {{element.end| date:'dd/MM/yyyy'}} </td>
    </ng-container>
    
    <ng-container matColumnDef="End">
      <th mat-header-cell *matHeaderCellDef> End Time</th>
      <td mat-cell *matCellDef="let element"> {{element.end| date:'h:mm a'}} </td>
    </ng-container>
    <ng-container matColumnDef="Duration">
      <th mat-header-cell *matHeaderCellDef> Duration</th>
      <td mat-cell *matCellDef="let element">{{minutesToHHMM(durationMin(element.start,element.end))}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Trainer Name">
      <th mat-header-cell *matHeaderCellDef> Trainer Name </th>
      <td mat-cell *matCellDef="let element"> {{element.scheduleUser.fullName}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumnsEvents"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsEvents;"></tr>  
  </table>
<!-- 
    <div  *ngFor="let event of data.events">
      Event:{{event.title}},Start:{{event.start| date:'h:mm a'}},End:{{event.end| date:'h:mm a'}},Assignedto:{{event.scheduleUser.
        fullName}}
    </div> -->
    <div *ngIf="forTrainer">
      <br><br>    
      <div>Free Hours:{{freeHours}}</div>
   </div>
   <div *ngIf="forManager">
   <br> FreeHour:<br> 
    <table mat-table [dataSource]="freeHours" class="mat-elevation-z8">

      <ng-container matColumnDef="Trainer Name">
        <th mat-header-cell *matHeaderCellDef> Trainer Name </th>
        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="FreeHour">
        <th mat-header-cell *matHeaderCellDef>FreeHour </th>
        <td mat-cell *matCellDef="let element"> {{element.freeHours}} </td>
      </ng-container>
   

      <tr mat-header-row *matHeaderRowDef="displayedColumnsFreeHour"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsFreeHour;"></tr>  
    
  </table>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <mat-toolbar>
    <button class="btn btn-primary" [matDialogClose]="data" (click)="openMonth()">Month</button>&nbsp;
    <button class="btn btn-info"  [matDialogClose]="data" (click)="openWeek()">Week</button>&nbsp;
    <button class="btn btn-warning"  [matDialogClose]="data" (click)="openDay()">Day</button>&nbsp;
    <button class="btn btn-danger"  [disabled]="schedule" (click)="addEvent()">Add Task</button>
  </mat-toolbar>
</mat-dialog-actions>