<form  [formGroup]="trainingReqForm" (ngSubmit)="submit()">
  <div mat-dialog-title>
   <div class="form-header">
     <h2 class="dialog-title">Change Status</h2>
   </div>
  </div>
  <div class="form-group" style="margin-left: 10px;margin-right: 10px;">
     <div class="row">
        <div class="col-4">Training Status</div>
        <div class="col-8">
           <select formControlName="trainingStatus" (change)='onOptionsSelected()' class="form-control down-arrow">
              <option value="">Select</option>
              <option *ngFor="let trainingstatus of trainingStatusValue" [ngValue]="trainingstatus"  >
              {{trainingstatus}}
              </option>
           </select>
        </div>
     </div>
  </div>
  <div style="text-align: right;">
   <mat-spinner [diameter]="20" style="margin-right: 20px;" *ngIf="this.isLoading" class="spinner"></mat-spinner> 
   <button type="submit" *ngIf="!this.isLoading" style="margin-right: 20px;" class="btn btn-primary btn-block btn-sm">
     Submit
     </button>
     <button type="button" *ngIf="!this.isLoading" (click)="cancle()" class="btn btn-primary btn-block btn-sm">
     Cancel
     </button>
   
  </div>
  </form>