.side-nav-content {
    color: black;
    width: 230px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}


.nav-list {
    height: 100%;
    padding: 0%;
    margin-bottom: 0%;
    list-style: none;
}

.nav-list-item {
    display: flex;
    align-items: center;
    height: 50px;
}

.nav-list-open li:hover {
    color: #0056b3;
}

a:hover {
    color: #0056b3;
}



.nav-list-item i {
    font-size: 20px;
    height: 25px;
    width: 25px;
    margin-right: 15px;
    margin-left: 10px;
    text-align: center;
    line-height: 25px;
}

.nav-list-item span {
    width: 120px;
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: black;
}
