<div class="container-fluid g-0">
    <app-trainer-header (sideNavToggled)="sideNavStatus=$event;" *ngIf="role === 'ROLE_TRAINER'">
    </app-trainer-header>
    <main>
        <app-trainer-sidebar [ngClass]="{'app-side-nav-open':sideNavStatus}" *ngIf="role === 'ROLE_TRAINER'" [sideNavStatus]="sideNavStatus" class="black-border"></app-trainer-sidebar>

        <div class="display-area p-3" [ngClass]="{'display-area-shrink':sideNavStatus}">
            <!-- Main Content    -->
            <div class="vt-training-request-form">
                <div style="text-align: center">
                    <span style="display: inline-block;">
                        <h5 class="heading-color">Apply Leave</h5>
                    </span>
                    <!-- Main Content    -->
                    <div class="row" style="    padding-bottom: 10px;
                padding-top: 10px;">

                        <div class="col-3">
                            <span>
                        
                        
                        <mat-form-field>
                            <mat-label>Choose a date</mat-label>
                            <!-- <input  (dateChange)="onDateChange($event)"  [min]="todayDate" [matDatepickerFilter]="myFilter" matInput [matDatepicker]="picker"> -->
                            <mat-date-range-input [formGroup]="range"   [rangePicker]="picker" >
                                <input matStartDate formControlName="start" placeholder="Start date" #dateRangeStart required>
                                <input matEndDate formControlName="end" placeholder="End date" (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)" #dateRangeEnd required>
                              </mat-date-range-input>
                            <mat-hint style="display: flex;">
                                MM/DD/YYYY – MM/DD/YYYY
                              <p style="margin-left: 20px;color:antiquewhite ;font-size: -webkit-xxx-large;" title="Holiday/optinalHoliday"> &bull;</p>
                            </mat-hint>
                          
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker [dateClass]="dateClass" #picker></mat-date-range-picker>
                          </mat-form-field>        
                          
                         
                        </span>
                        </div>
                        <div class="col-5" style="padding-left: 38px;">
                            <span *ngIf="waringObject.length > 0">
                        <span style="color: red;">Leave already applied for below date </span>
                            <br>
                            <span *ngFor="let warn of waringObject">
                          <span style="font-weight: bold;color: red;">{{warn.date +" "}}</span>
                            </span>
                            </span>
                        </div>


                    </div>


                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Training Name</th>
                                <th>Actual Start Date</th>
                                <th>Actual End Date</th>

                                <th><input style="margin-right: 10px;" [(ngModel)]="isChecked" type="checkbox" (change)="clickHeaderCheckBox($event,true)" />Apply Leave </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let training of traninglist">
                                <td>{{training.id}}</td>
                                <td>{{training.trainingName}}</td>
                                <td>{{training.actualStartDate}}</td>
                                <td>{{training.actualEndDate}}</td>
                                <td><input type="checkbox" [(ngModel)]="training.isApplyleave" name="element_name" [checked]="training.isApplyleave" (change)="clickRowCheckBox()" /></td>


                            </tr>
                        </tbody>
                    </table>

                    <div style="width: 40%;" *ngIf="isLoading">
                        <mat-spinner strokeWidth="3" [diameter]="50"></mat-spinner>
                    </div>
                    <span>
                    <div style="padding-top:10px;float: right;" >
                    <!-- <button mat-button mat-dialog-close  style="margin-right: 15px;" class="btn btn-primary btn-block btn-m" >Cancel</button>-->
                    <button type="button"  [disabled]="range.invalid || traninglist.length===0" (click)="submitLeave()"  class="btn btn-primary btn-block btn-m" >
                          Submit
                    </button>
                  </div>
               </span>

                    <!-- Main Content Closed -->
                </div>


            </div>

        </div>
    </main>
</div>