<form style="padding-left: 20px;padding-right: 20px;" [formGroup]="technologyMatserForm" (ngSubmit)="submit()">
    <div mat-dialog-title>
        <!-- <h2 class="dialog-title">dialog title</h2> -->
        <a (click)="closeDialog()"><span class="icon-close"></span></a></div>
    
    <div class="form-header">
        <h5 class="heading-color">Add Technology</h5>
      </div>
    <div class="form-group">
        <div class="row">
            <div class="col-4">Technology Name</div>
            <div class="col-7"><input
              type="text"
              formControlName="name"
              placeholder="Technology Name"
              class="form-control"
            />
            </div>
        </div><br>
        <div class="center">
            <button
              type="submit" 
              class="btn btn-primary btn-block btn-lg"
            >
              Add
            </button>
          </div>
    </div>
 </form>