<div class="container-fluid g-0">
    <app-requester-header (sideNavToggled)="sideNavStatus=$event;">
    </app-requester-header>

    <main>
        <app-requester-sidebar [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open':sideNavStatus}" class="black-border"> </app-requester-sidebar>
        <div class="display-area p-3" [ngClass]="{'display-area-shrink':sideNavStatus}">
            <!-- Main Content    -->
            <div class="training-request-form">
                <form>
                    <div class="form-header">
                        <h5 class="heading-color">Associate Management</h5>
                    </div>
                    <div class="container h-100">
                        <div class="d-flex justify-content-center h-100">
                            <div class="searchbar">
                                <input type="text" class="search_input" placeholder="Search..." (keyup)="onQuickFilter($event)">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div mat-raised-button class="{{actionCss}}">
                        <button class="xlsx btn btn-primary" *ngIf="!this.isLoading" (click)="downloadAssociates()">Export to Excel</button>
                        <mat-spinner [diameter]="25" class="spinner" *ngIf="this.isLoading"></mat-spinner>
                    </div>
                    <ag-grid-angular style="width: auto; height: 350px; min-height: 350px; max-height: 350px;" [rowData]="associatesData" [pagination]="pagination" [paginationPageSize]="paginationPageSize" (gridReady)="onGridReady($event)" [columnDefs]="colDefs" class="ag-theme-alpine">
                    </ag-grid-angular>

                </form>
            </div>
            <!-- Main Content Closed -->

        </div>
    </main>
</div>