<div class="container-fluid g-0">
  <app-tm-header (sideNavToggled)="sideNavStatus=$event;">
  </app-tm-header>
  <main>
    <app-tm-sidebar [ngClass]="{'app-side-nav-open':sideNavStatus}" [sideNavStatus]="sideNavStatus"
                    class="black-border"></app-tm-sidebar>
    <div [ngClass]="{'display-area-shrink':sideNavStatus}" class="display-area p-3">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">

          <!-- Add the dropdown for trainer selection -->
          <div class="calendar-container">

            <div class="search-box">
              <label for="trainerSelect">Select Trainer:</label>
              <select [(ngModel)]="selectedTrainer" id="trainerSelect">
                <option value=0>All Trainers</option>
                <option [value]="this.userName">{{ this.name }}</option>
                <option *ngFor="let trainer of allTrainers" [value]="trainer.emailAdd">{{ trainer.fullName }}</option>
              </select>
              <button (click)="searchEventsByTrainer(selectedTrainer)">Search</button>
            </div>
            <div class="row text-center">
              <div class="col-md-4">
                <div class="btn-group">
                  <div
                    (viewDateChange)="closeOpenMonthViewDay()"
                    [(viewDate)]="viewDate"
                    [view]="view"
                    class="btn btn-primary"
                    mwlCalendarPreviousView
                  >
                    Previous
                  </div>
                  <div
                    [(viewDate)]="viewDate"
                    class="btn btn-outline-secondary"
                    mwlCalendarToday
                  >
                    Today
                  </div>
                  <div
                    (viewDateChange)="closeOpenMonthViewDay()"
                    [(viewDate)]="viewDate"
                    [view]="view"
                    class="btn btn-primary"
                    mwlCalendarNextView
                  >
                    Next
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
              </div>
              <div class="col-md-4">
                <div class="btn-group">
                  <div
                    (click)="setView(CalendarView.Month)"
                    [class.active]="view === CalendarView.Month"
                    class="btn btn-primary"
                  >
                    Month
                  </div>
                  <div
                    (click)="setView(CalendarView.Week)"
                    [class.active]="view === CalendarView.Week"
                    class="btn btn-primary"
                  >
                    Week
                  </div>
                  <div
                    (click)="setView(CalendarView.Day)"
                    [class.active]="view === CalendarView.Day"
                    class="btn btn-primary"
                  >
                    Day
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div [ngSwitch]="view">
              <mwl-calendar-month-view
                (dayClicked)="dayClicked($event.day)"
                (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)"
                *ngSwitchCase="CalendarView.Month"
                [activeDayIsOpen]="activeDayIsOpen"
                [events]="events"
                [refresh]="refresh"
                [viewDate]="viewDate"
              >
              </mwl-calendar-month-view>
              <mwl-calendar-week-view
                (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)"
                *ngSwitchCase="CalendarView.Week"
                [events]="events"
                [refresh]="refresh"
                [viewDate]="viewDate"
              >
              </mwl-calendar-week-view>
              <mwl-calendar-day-view
                (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)"
                *ngSwitchCase="CalendarView.Day"
                [events]="events"
                [refresh]="refresh"
                [viewDate]="viewDate"
              >
              </mwl-calendar-day-view>
            </div>

            <!-- Everything you see below is just for the demo, you don't need to include it in your app -->

            <br/><br/><br/>
            <div *ngIf="events.length>0">
              <h3>
                Upcoming Events
                <!--     <button class="btn btn-primary float-end" (click)="addEvent()">
                      Add new
                    </button> -->
                <div class="clearfix"></div>
              </h3>

              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Title</th>
                    <th>Primary color</th>
                    <th>Starts at</th>
                    <th>Ends at</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let event of events">
                    <td>
                      <p>{{ event?.title }}</p>
                    </td>
                    <td>

                      <input (change)="refresh.next()" [value]="getPrimaryColor(event)" type="color"/>
                    </td>
                    <td>
                      <p>{{ event?.start }}</p>
                    </td>
                    <td>
                      <p>{{ event?.end }}</p>
                    </td>
                    <td>
                      <button (click)="eventModal(editEventModal,event)" class="btn btn-danger">Edit</button>
                      <button (click)="deleteEvent(event)" class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>


            <ng-template #modalContent let-close="close">
              <div class="modal-header">
                <h5 class="modal-title">Event action occurred</h5>
                <button (click)="close()" class="close" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>v
                  Action:
                  <pre>{{ modalData!.action }}</pre>
                </div>
                <div>
                  Event:
                  <pre>{{ modalData!.event | json }}</pre>
                </div>
              </div>
              <div class="modal-footer">
                <button (click)="close()" class="btn btn-outline-secondary" type="button">
                  OK
                </button>
              </div>
            </ng-template>
            <button (click)="openModal(newEventModal)" class="btn btn-primary add-button">Add new Event</button>
            <!-- Add the modal template at the end of your HTML -->
            <!-- Add the modal template at the end of your HTML -->
            <ng-template #newEventModal let-modal>
              <div class="modal-header">
                <h4 class="modal-title">Add New Event</h4>
                <button (click)="modal.dismiss('Cross click')" class="close" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Your form to collect new event details -->
                <form #newEventForm="ngForm" (ngSubmit)="addNewEvent(newEventForm)">
                  <!-- Title -->
                  <div class="form-group">
                    <label for="title">Title:</label>
                    <input class="form-control" id="title" name="title" ngModel required type="text">
                    <div
                      *ngIf="
        newEventForm.controls['title']?.touched &&
        newEventForm.controls['title']?.invalid
      "
                      style="color: red;font-size: small;"
                    >
          <span *ngIf="newEventForm.controls['title'].hasError('required')">
            Event Title is required
          </span>
                    </div>
                  </div>

                  <!-- Start Date and Time -->
                  <div class="form-group">
                    <label for="startDate">Start Date and Time:</label>
                    <input class="form-control" id="startDate" name="startDate" ngModel required type="datetime-local">
                    <div
                      *ngIf="
        newEventForm.controls['startDate']?.touched &&
        newEventForm.controls['startDate']?.invalid
      "
                      style="color: red;font-size: small;"
                    >
          <span *ngIf="newEventForm.controls['startDate'].hasError('required')">
            Start date is required
          </span>
                    </div>
                  </div>

                  <!-- End Date and Time -->
                  <div class="form-group">
                    <label for="endDate">End Date and Time:</label>
                    <input class="form-control" id="endDate" name="endDate" ngModel required type="datetime-local">
                    <div
                      *ngIf="
        newEventForm.controls['endDate']?.touched &&
        newEventForm.controls['endDate']?.invalid
      "
                      style="color: red;font-size: small;"
                    >
          <span *ngIf="newEventForm.controls['endDate'].hasError('required')">
            Start date is required
          </span>
                    </div>
                  </div>

                  <!-- Primary Color -->
                  <div class="form-group">
                    <label for="primaryColor">Primary Color:</label>
                    <input class="form-control" id="primaryColor" name="primaryColor" ngModel type="color">
                  </div>

                  <!-- Secondary Color -->
                  <div class="form-group">
                    <label for="secondaryColor">Secondary Color:</label>
                    <input class="form-control" id="secondaryColor" name="secondaryColor" ngModel type="color">
                  </div>

                  <button [disabled]="newEventForm.invalid" class="btn btn-primary" type="submit">Add Event</button>
                </form>
              </div>
            </ng-template>


            <ng-template #editEventModal let-modal>
              <div class="modal-header">
                <h4 class="modal-title">Update Event</h4>
                <button (click)="modal.dismiss('Cross click')" class="close" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Your form to collect new event details -->
                <form #editEventForm="ngForm" (ngSubmit)="updateEvent(editedEvent)">
                  <div class="form-group">
                    <label for="editedTitle">Title:</label>
                    <input [(ngModel)]="editedEvent.title" class="form-control" id="editedTitle" name="editedTitle" required type="text">
                  </div>
                  <!-- Add other form fields for editing as needed -->
                  <div class="form-group">
                    <label for="editedStart">Start Date and Time:</label>
                    <input [(ngModel)]="editedEvent.start" class="form-control" id="editedStart" name="editedStart" required type="datetime-local">
                  </div>
                  <div class="form-group">
                    <label for="editedEnd">End Date and Time:</label>
                    <input [(ngModel)]="editedEvent.end" class="form-control" id="editedEnd" name="editedEnd" required type="datetime-local">
                  </div>
                  <!-- Add other form fields as needed -->
                  <button class="btn btn-primary" type="submit">Save Changes</button>
                </form>
              </div>
            </ng-template>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
