<div class="container-fluid g-0">
    <app-requester-header (sideNavToggled)="sideNavStatus=$event;">
    </app-requester-header>

    <main>
        <app-requester-sidebar [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open':sideNavStatus}"
            class="black-border"> </app-requester-sidebar>
        <div class="display-area p-3" [ngClass]="{'display-area-shrink':sideNavStatus}">
            <p class="fs-1 fw-bold fst-italic text-center">Main Displya Area</p>
        </div>
    </main>

</div>