
<mat-toolbar color="Primary">
    <h2 mat-dialog-title>Add Task</h2>
  </mat-toolbar>
  <mat-dialog-content class="dialog">
    <form [formGroup]="eventForm" (ngSubmit)="createEvent()" class="eventForm">
    <mat-form-field>
        <mat-label>Task</mat-label>
        <input matInput type="text" placeholder="Task Name" formControlName="title" name="title" required >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput type="date" placeholder="Start Date" formControlName="start_date"  name="start_date" required>
      </mat-form-field>
   
      <mat-form-field>
        <mat-label>Start Time</mat-label>
        <input matInput type="time" placeholder="Start Time (Optional)" formControlName="start_time" name="start_time">
      </mat-form-field>
   
  
      <mat-form-field>
        <mat-label>End Date</mat-label>      
        <input matInput type="date" placeholder="End Date (Optional)" formControlName="end_date" name="end_date" >
      </mat-form-field>
    
    
      <mat-form-field>
        <mat-label>End Time</mat-label>
        <input matInput type="time" placeholder="End Time (Optional)" formControlName="end_time" name="end_time">
      </mat-form-field>
     
      <!-- <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="start_date"  placeholder="Start Date" formControlName="start_date"  name="start_date" required [matDatepickerFilter]=" myFilter">
        <mat-datepicker-toggle matIconSuffix [for]="start_date"></mat-datepicker-toggle>
        <mat-datepicker #start_date ></mat-datepicker> 
      </mat-form-field>
   
      <mat-form-field>
        <mat-label>Start Time</mat-label>
        <input matInput  [type]="'time'" placeholder="Start Time " formControlName="start_time" name="start_time">
      </mat-form-field>
   
  
      <mat-form-field>
        <mat-label>End Date</mat-label>      
        <input matInput [matDatepicker]="end_date"  placeholder="End Date " formControlName="end_date" name="end_date" [min]="minDate" [matDatepickerFilter]=" myFilter">
        <mat-datepicker-toggle matIconSuffix [for]="end_date"></mat-datepicker-toggle>
        <mat-datepicker #end_date></mat-datepicker> 
      </mat-form-field>
    
    
      <mat-form-field>
        <mat-label>End Time</mat-label>
        <input matInput  [type]="'time'" placeholder="End Time " formControlName="end_time" name="end_time">
      </mat-form-field> -->
       <div class="recurssion">    
       <mat-label>Recurssion</mat-label>
       <mat-checkbox class="checkRecurssion"  (change)="checkRecurssion()"></mat-checkbox>
      <mat-error></mat-error>
      </div>
  
      <div *ngIf="recurssion">
      <mat-label>Day</mat-label>
      <mat-checkbox (change)="byDay()" [disabled]="disableDay"></mat-checkbox>
      <mat-label>Week</mat-label>
      <mat-checkbox (change)="byWeek()" [disabled]="disableWeek"></mat-checkbox> 
      <!-- <mat-label>Month</mat-label>
      <mat-checkbox (change)="byMonth()" [disabled]="disableMonth" ></mat-checkbox> -->
      <!-- <mat-label>Year</mat-label> 
      <mat-checkbox (change)="byYear()"  [disabled]="disableYear" ></mat-checkbox> -->
      </div>
     <div *ngIf="day">
      <mat-form-field>    
      <input matInput  type="number"  min="1" formControlName="number_of_week_days" >
      <!-- (mouseleave)="setDayvalue($event)" -->
      </mat-form-field>
      </div>
      <div *ngIf="week">
        <mat-form-field>    
        <input matInput  type="number" min="1" formControlName="number_of_week_days">
        <!-- (mouseleave)="setWeekvalue($event)" -->
        </mat-form-field>
      </div>
      <!-- <div *ngIf="month" >
        <mat-form-field>    
        <input  matInput  type="number" max="12" formControlName="number_of_week_days">
        (mouseleave)="setMonthvalue($event)"  
      </mat-form-field>
      </div> -->
      <!-- <div *ngIf="year">
        <mat-form-field>    
        <input matInput  type="number" max="2"  formControlName="number_of_week_days">
        (mouseleave)="setMonthvalue($event)"  
      </mat-form-field>
      </div> -->
    </form>
    </mat-dialog-content>
    <div *ngIf="error.error" class="error">{{error.message}}</div>
    <div></div>
    <mat-dialog-actions>
    <mat-toolbar>
      <button  color="primary" type="submit" class="create-button btn btn-primary" (click)="createEvent()">Create Event</button>
    </mat-toolbar>   
  </mat-dialog-actions>