<section class="vh-100">
    <div class="topnav">
    <a href="#" class="ytms-logo">
  
      <img src="../../../assets/img/YTMS_LOGO 1.png" ></a>
  
    
    </div>
    <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">

    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    <form [formGroup]="changePasswordForm" >
    <br>
    <div><p>Change your account password</p></div>

    <div class="form-group form-outline mb-3">
        <label>Old Password</label>
        <input
                type="password"
                formControlName="oldPassword"
                class="form-control form-control-lg"
              />
        <div
                style="color: red;font-size: small;"
                *ngIf="
                  changePasswordForm.controls['oldPassword'].touched &&
                  changePasswordForm.controls['oldPassword'].invalid
                "
        >
        <span *ngIf="changePasswordForm.controls['oldPassword'].hasError('required')"
        >Password is required</span
        >
        <span *ngIf="changePasswordForm.controls['oldPassword'].hasError('pattern')"
        >Password must contain at least one number, one uppercase and a
        lowercase letter and at least 8 characters<br />Password cannot
        contain whitespace</span
        >
        </div>
        </div>
    
    <div class="form-group form-outline mb-3">
    <label>New Password</label>
    <input
            type="password"
            formControlName="newPassword"
            class="form-control form-control-lg"
          />
    <div
            style="color: red;font-size: small;"
            *ngIf="
              changePasswordForm.controls['newPassword'].touched &&
              changePasswordForm.controls['newPassword'].invalid
            "
    >
    <span *ngIf="changePasswordForm.controls['newPassword'].hasError('required')"
    >Password is required</span
    >
    <span *ngIf="changePasswordForm.controls['newPassword'].hasError('pattern')"
    >Password must contain at least one number, one uppercase and a
    lowercase letter and at least 8 characters<br />Password cannot
    contain whitespace</span
    >
</div>
    </div>


    <div class="form-group form-outline mb-3">
        <label>Confirm Password</label>
        <input
                type="password"
                formControlName="confirmPassword"
                class="form-control form-control-lg"
              />
        <div
                style="color: red;font-size: small;"
                *ngIf="
                  changePasswordForm.controls['confirmPassword'].touched &&
                  changePasswordForm.controls['confirmPassword'].invalid
                "
        >
        <span *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required')"
        >Password is required</span
        >
        <span *ngIf="changePasswordForm.controls['confirmPassword'].hasError('pattern')"
        >Password must contain at least one number, one uppercase and a
        lowercase letter and at least 8 characters<br />Password cannot
        contain whitespace</span
        >
        <span *ngIf="changePasswordForm.hasError('passwordMismatch')">Password and confirm password do not match</span>
    
        </div>
        </div>

    
    <div class="text-center text-lg-start mt-4 pt-2">
    <button type="button" class="button"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="changePassword(changePasswordForm)">Change Password</button>
    
    </div>
    </form>
    </div>
    </div>
    </div>
    </section>
    