.reset-password{
    text-align: left;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 10%;
}

body {
    color: #999;
    background: #fff;
    font-family: 'Roboto', sans-serif;
}
.form-control {
    min-height: 41px;
    box-shadow: none;
    border-color: #e1e1e1;
}
.form-control:focus {
    border-color: #00cb82;
}  
.form-control, .btn {        
    border-radius: 3px;
}
.form-header {
    margin: -30px -30px 20px;
    padding: 30px 30px 10px;
    text-align: center;
    background: #005ba3;
    border-bottom: 1px solid #eee;
    color: #fff;
}
.form-header h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 0 0 10px;
    font-family: 'Pacifico', sans-serif;
}
.form-header p {
    margin: 20px 0 15px;
    font-size: 17px;
    line-height: normal;
    font-family: 'Courgette', sans-serif;
}
.login-form {
    width: 390px;
    margin: 0 auto;
    padding: 30px 0;    
}
.login-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f0f0f0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form .form-group {
    margin-bottom: 20px;
}      
.login-form label {
    font-weight: normal;
    font-size: 14px;
}
.login-form input[type="checkbox"] {
    position: relative;
    top: 1px;
}
.login-form .btn {        
    font-size: 16px;
    font-weight: bold;
    background: #004481;
    border: none;
    min-width: 200px;
}
.login-form .btn:hover, .login-form .btn:focus {
    background: #005ba3;
    outline: none;
}
.login-form a {
    color: #005ba3;    
}
.login-form a:hover {
    text-decoration: underline;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.topnav {
    background-color:  #005ba3;
    
    text-align: left;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    
  }

 
  .button
  {
    background-color:  #005ba3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
  } 

  .ytms-logo img {
    width: 150px;
    height: 50px;
  }

  .form-control
  {
    font-size: medium;
  }
