
<mat-toolbar color="Primary">
    <h2 mat-dialog-title>Add Event</h2>
   <button  mat-fab  (click)="closeEvents()" class="closebuttonevent" ><mat-icon>close</mat-icon></button>
  </mat-toolbar>
  <mat-dialog-content class="dialog">
    <form [formGroup]="eventForm" (ngSubmit)="updateEvent()" class="eventForm">
    <mat-form-field>
        <mat-label>Task</mat-label>
        <input matInput type="text" placeholder="Event Title" formControlName="title" name="title" required>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput type="date" placeholder="Start Date" formControlName="start_date" name="start_date" required>
      </mat-form-field>
   
      <mat-form-field>
        <mat-label>Start Time</mat-label>
        <input matInput type="time" placeholder="Start Time (Optional)" formControlName="start_time" name="start_time">
      </mat-form-field>
   
  
      <mat-form-field>
        <mat-label>End Date</mat-label>      
        <input matInput type="date" placeholder="End Date (Optional)" formControlName="end_date" name="end_date" >
      </mat-form-field>
    
    
      <mat-form-field>
        <mat-label>End Time</mat-label>
        <input matInput type="time" placeholder="End Time (Optional)" formControlName="end_time" name="end_time">
      </mat-form-field>
    
    </form>
    </mat-dialog-content>
  <mat-dialog-actions>
    <mat-toolbar>
      <button mat-raised-button color="primary" type="submit" class="update-button" (click)="updateEvent()">Update Event</button>
    </mat-toolbar>   
  </mat-dialog-actions>
  