<h2 mat-dialog-title style="border-bottom: 1px solid #eee;
color: #fff;text-align: center;background: #005ba3;" *ngIf="role === 'ROLE_TECHNICAL_MANAGER'">
    FeedBack
</h2>
<h2 mat-dialog-title style="border-bottom: 1px solid #eee;
color: #fff;text-align: center;background: #005ba3;" *ngIf="role === 'ROLE_TRAINER'">
    Add/Update FeedBack
</h2>
<mat-dialog-content class="mat-typography" style="height: calc(100% - 96px);">
    <table>
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Employee Email</th>
                <th>Employee Name</th>
                <th>Technical Skills</th>
                <th>Attitude</th>
                <th>Comm Skills</th>
                <th>Work Quality</th>
                <th>Overall Rating</th>
                <th>FeedBack</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.emp_id}}</td>
                <td>{{employee.emp_mail_id}}</td>
                <td>{{employee.emp_name}}</td>
                <td>
                    <select  [(ngModel)]="employee.technicalSkills">
                     <option *ngFor="let  v of values; let i = index" [value]="v" >
                        {{v}}
                      </option>
                    </select>
               </td>

               <td>
                <select  [(ngModel)]="employee.attitude">
                 <option *ngFor="let  v of values; let i = index" [value]="v" >
                    {{v}}
                  </option>
                 </select>
              </td>

                <td>
                    <select  [(ngModel)]="employee.commSkills">
                    <option *ngFor="let  v of values; let i = index" [value]="v" >
                        {{v}}
                    </option>
                    </select>
                </td>

                <td>
                    <select  [(ngModel)]="employee.workQuality">
                    <option *ngFor="let  v of values; let i = index" [value]="v" >
                        {{v}}
                    </option>
                    </select>
                </td>

                <td>
                    <select  [(ngModel)]="employee.overAllRating">
                    <option *ngFor="let  v of values; let i = index" [value]="v" >
                        {{v}}
                    </option>
                    </select>
                </td>

                <td><textarea type="text" [(ngModel)]="employee.feedback" name="feedback" rows="10" [disabled]="isSubmitDisabled(employee)"></textarea></td>
            </tr>
        </tbody>
    </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div class="row" *ngIf="role === 'ROLE_TRAINER'">
        <div *ngIf="role === 'ROLE_TRAINER'" style="text-align: left;margin-right: 10px;" class="btn btn-block btn-m"><a href="../../../../assets/excel/FeedBack.xlsx" download="SampleBulkUploadFile..xlsx">Click Here To Download Sample Format</a></div>
    </div>
    <div class="custom-file-button" *ngIf="role === 'ROLE_TRAINER'">
        <input type="file" accept=".xlsx" (change)="onFileChange($event)">
        <label>Upload FeedBack</label>
    </div>&nbsp;
    <button type="submit" (click)="exportToExcel()" style="margin-right: 10px;" class="btn btn-primary btn-block btn-m">
        ExportToExcel
        </button>
    <button mat-button mat-dialog-close class="btn btn-primary btn-block btn-m" style="margin-right: 10px;">Cancel</button>
    <button type="submit" (click)="submit()" class="btn btn-primary btn-block btn-m" *ngIf="role === 'ROLE_TRAINER'">
        Submit
        </button>
</mat-dialog-actions>