
<h2 mat-dialog-title style="border-bottom: 1px solid #eee;
color: #fff;text-align: center;background: #005ba3;" *ngIf="role === 'ROLE_TECHNICAL_MANAGER'">
FeedBack
</h2>
<h2 mat-dialog-title style="border-bottom: 1px solid #eee;
color: #fff;text-align: center;background: #005ba3;" *ngIf="role === 'ROLE_TRAINER'">
Add/Update FeedBack
</h2>
<mat-dialog-content class="mat-typography" style="height: calc(100% - 96px);">
    <table>
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Employee Email</th>
                <th>Employee Name</th>
                <th>FeedBack</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.emp_id}}</td>
                <td>{{employee.emp_mail_id}}</td>
                <td>{{employee.emp_name}}</td>
                <td><textarea type="text" [(ngModel)]="employee.feedback" name="feedback" rows="10" [disabled]="isSubmitDisabled(employee)"></textarea></td>
            </tr>
        </tbody>
    </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div class="custom-file-button">
        <input type="file" accept=".xlsx" (change)="onFileChange($event)">
        <label>Upload FeedBack</label>
    </div>&nbsp;
    <button type="submit" (click)="exportToExcel()" style="margin-right: 10px;" class="btn btn-primary btn-block btn-m">
        ExportToExcel
        </button>
    <button mat-button mat-dialog-close class="btn btn-primary btn-block btn-m" style="margin-right: 10px;">Cancel</button>
    <button type="submit" (click)="submit()" class="btn btn-primary btn-block btn-m" [disabled]="role !== 'ROLE_TRAINER'">
        Submit
        </button>
</mat-dialog-actions>