
<div>
  <div>
    <button type="submit" (click)="exportToExcel()" class="btn btn-primary btn-block btn-m">
      ExportToExcel
      </button>
  </div>
    <table class="table table-striped custab">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <!-- <th scope="col">Email-ID</th> -->
            <th scope="col">Role</th>
            <th scope="col">Unit</th>
            <th scope="col">Competency</th>
            <th scope="col">Grade</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of activeUserDetails">
            <tr>
                <th scope="row">{{ user.fullName | titlecase}}</th>
                <!-- <td>{{ user.emailAdd }}</td> -->
                <td>{{ user.userRole.roleTypes }}</td>
                <td>{{ user.unit?.name }}</td>
                <td>{{ user.competency?.name }}</td>
                <td>{{ user.grade?.name }}</td>
            </tr>
        </tbody>
      </table>
</div>