<div>
    <table class="table table-striped custab">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email-ID</th>
            <th scope="col">Role</th>
            <th scope="col">Unit</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of activeUserDetails">
            <tr>
                <th scope="row">{{ user.fullName }}</th>
                <td>{{ user.emailAdd }}</td>
                <td>{{ user.userRole.roleTypes }}</td>
                <td>{{ user.unit?.name }}</td>
            </tr>
        </tbody>
      </table>
</div>