<section class="vh-100">

    <div class="topnav ">
        <a href="#" class="ytms-logo">

            <img src="../../../ytmscli/assets/img/YTMS_LOGO 1.png"></a>
    </div>
    <div class="reset-pass mt-3">
        <h3 class="text-center">Reset your password</h3>
        <div class="reset-pass-box mt-3">
            <p>Enter your user account's verified email address and we will
                send you a password reset link</p>
            <form autocomplete="off" [formGroup]="resetPasswordForm">
                <div class="mt-2">
                    <input type="email" class="form-control" [class.is-invalid]="f['email'].invalid && 
                        (f['email'].touched||submitted)" name="email" formControlName="email" autocomplete=off />
                    <div *ngIf="f['email'].errors&&(f['email'].touched||submitted)">
                        <small *ngIf="f['email'].errors['required'] "
                            class="text-danger">{{MESSAGE_CONSTANTS.EMAIL_REQUIRED}}</small>
                        <small *ngIf="f['email'].errors['pattern'] "
                            class="text-danger">{{MESSAGE_CONSTANTS.EMAIL_PATTERN}}</small>
                    </div>
                </div>
                <div class="mt-4 text-center">
                    <button class="btn btn-success submitbutton " (click)="submitResetPasswordForm()"> submit</button>
                </div>
            </form>

        </div>
    </div>
</section>