/* angular-cli file: src/styles.css */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
body {
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.bt-info {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}
.bt-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}
.bt-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

/* button */
.fc .fc-button-group > .fc-button{
  color: #fff;
  background-color: #005ba3;
  border-color: #005ba3;
}

/*date*/
.fc-daygrid-day-number,
.fc-daygrid-day-number a {
  color: grey;  
  text-decoration: none; 
}

/*day*/
.fc-col-header-cell-cushion,
.fc-col-header-cell-cushion a {
  color: grey;  
  text-decoration: none; 
}

/*events*/
.fc-daygrid-event-dot {
  border: calc(var(--fc-daygrid-event-dot-width) / 2) solid #6c757d;
}
.fc .fc-daygrid-event
{
  color: grey;
}



/*bulleten not work*/
/* .fc-daygrid-event-dot  {
  background-color:black;
} */

/* time */
/* .fc-event-time{
  color: grey;
} */

/*title*/
/* .fc-event-title
{
color: grey;
} */