<div class="container-fluid g-0">
    <app-tm-header (sideNavToggled)="sideNavStatus=$event;">
    </app-tm-header>

    <main>
        <app-tm-sidebar [ngClass]="{'app-side-nav-open':sideNavStatus}" [sideNavStatus]="sideNavStatus" class="black-border"></app-tm-sidebar>
        <div [ngClass]="{'display-area-shrink':sideNavStatus}" class="display-area p-3">
            <div class="tab">
                <button *ngIf="userRole !== 'ROLE_COMPETENCY_MANAGER'" matBadge="{{listOfRequestersCount}}" matBadgeColor="warn" class="tablinks" style="background-color: #005ba3; color: white;" (click)="openList('requesterList')">List of Requesters</button>                &nbsp;&nbsp;
                <button matBadge="{{listOfTrainingsCount}}" matBadgeColor="warn" class="tablinks" style="background-color: #005ba3; color: white;" (click)="openList('trainingList')">Upcoming Training List</button> &nbsp;&nbsp;
                <button *ngIf="userRole !== 'ROLE_COMPETENCY_MANAGER'" matBadge="{{listOfPendingLeavesCount}}" matBadgeColor="warn" class="tablinks" style="background-color: #005ba3; color: white;" (click)="openPendingLeaves('pendingLeaveList')">Pending Leaves</button>                &nbsp;&nbsp;
            </div>
            <!-- <p class="fs-1 fw-bold fst-italic text-center" style="background-color: #005ba3;">List of Requesters</p> -->
            <div *ngIf="listOfRequester">
                <table style="width:100%" *ngIf="requesterTable">
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>

                    <tbody *ngFor="let user of userDetails">
                        <tr>
                            <td>{{ user.fullName }}</td>
                            <td>{{ user.emailAdd }}</td>
                            <td> <select [(ngModel)]="user.roleType">
                                <option *ngFor="let role of roles" [value]="role.roleTypes">
                                  {{ role.roleTypes }}
                                </option>
                              </select></td>
                            <td>
                                <button (click)="approveUser(user)" class="btn btn-primary btn-sn" id="submitbtn" name="submit" style="margin-left: 10px;">Approve
            </button>
                                <button (click)="declineUser(user)" class="btn btn-primary btn-sn" id="submitbtn" name="submit" style="margin-left: 10px;">Decline
            </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div *ngIf="!listOfRequester && !listOfPendingLeaves">
                <app-requester-home></app-requester-home>

            </div>
            <div *ngIf="listOfPendingLeaves && !listOfRequester">
                <app-pending-leaves></app-pending-leaves>

            </div>

        </div>
    </main>

</div>