<div class="container-fluid g-0">
    <app-tm-header (sideNavToggled)="sideNavStatus=$event;">
    </app-tm-header>

    <main>
        <app-tm-sidebar [ngClass]="{'app-side-nav-open':sideNavStatus}" [sideNavStatus]="sideNavStatus" class="black-border"></app-tm-sidebar>
        <div [ngClass]="{'display-area-shrink':sideNavStatus}" class="display-area p-3">
            <div class="tab">
                <button class="tablinks" style="background-color: #005ba3; color: white;" (click)="openList('requesterList')">List of Requesters</button> &nbsp;&nbsp;
                <button class="tablinks" style="background-color: #005ba3; color: white;" (click)="openList('trainingList')">Upcoming Training List</button>

            </div>
            <!-- <p class="fs-1 fw-bold fst-italic text-center" style="background-color: #005ba3;">List of Requesters</p> -->
            <div *ngIf="listOfRequester">
                <table style="width:100%" *ngIf="requesterTable">
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>

                    <tbody *ngFor="let user of userDetails">
                        <tr>
                            <td>{{ user.fullName }}</td>
                            <td>{{ user.emailAdd }}</td>
                            <td>
                                <button (click)="approveUser(user)" class="btn btn-primary btn-sn" id="submitbtn" name="submit" style="margin-left: 10px;">Approve
            </button>
                                <button (click)="declineUser(user)" class="btn btn-primary btn-sn" id="submitbtn" name="submit" style="margin-left: 10px;">Decline
            </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div *ngIf="!listOfRequester">
                <app-requester-home></app-requester-home>
            </div>
        </div>
    </main>

</div>