<!-- <p class="fs-1 fw-bold fst-italic text-center" style="background-color: #005ba3;">List of Requesters</p> -->
<div>
    <table class="table table-striped custab">
        <tr>
            <th scope="col">Trainer Name</th>
            <th scope="col">Training Name</th>
            <th scope="col">Leave Start Date</th>
            <th scope="col">Leave End Date</th>
            <th scope="col">Actions</th>
            <th scope="col">Training should not impact </th>
        </tr>

        <tbody *ngFor="let leave of pendingLeaves">
            <tr>
                <td scope="row" (click)="getTrainers(leave)">{{ leave.tranier_mail_id }}</td>
                <td>{{ leave.tranining_name }}</td>
                <td>{{ leave.leave_Start_date }}</td>
                <td>{{ leave.leave_End_date }}</td>
                
                <td>
                    <button (click)="approve(leave)" class="btn btn-primary btn-sm" id="submitbtn" name="submit" style="margin-left: 10px;">Approve
            </button>
                    <button (click)="decline(leave)" class="btn btn-primary btn-sm" id="submitbtn" name="submit" style="margin-left: 10px;">Decline
            </button>
                </td>
                <td><input  (change)="onNativeChange($event,leave)"
                    type="checkbox"
                    /></td>
            </tr>
        </tbody>

    </table>
</div>