<div class="container-fluid g-0">
    <app-requester-header (sideNavToggled)="sideNavStatus=$event;" >
    </app-requester-header>
  
    <main>
      <app-requester-sidebar [sideNavStatus]="sideNavStatus" 
        [ngClass]="{'app-side-nav-open':sideNavStatus}" class="black-border"> </app-requester-sidebar>
      <div class="display-area" [ngClass]="{'display-area-shrink':sideNavStatus}">
        <div class="training-request-form">
          <br>
          <div *ngIf="searchFilter" class="manager-Select">  
            <span class="flex"> <p> Trainer: 
            <mat-select (selectionChange)="switchUser($event)" class="select" placeholder="All">
              <mat-option [value]="'All'">All</mat-option>
              <mat-option *ngFor="let user of users" [value]="user.emailAdd">
                {{ user.fullName}}
              </mat-option>
            </mat-select>&nbsp;</p>
        
            <button  class="btn btn-primary"  [routerLink]="'/book-calendar'">Calendar</button>
          
          </span>
          <span class="download-manager"><button  class="btn btn-primary"  (click)="exportExcel()">Download Summary</button></span>
          &nbsp;
        
          
        </div>
          &nbsp;   
           <div class="trainer-action" style="display: flex;">
            <button  class="btn btn-primary" *ngIf="!searchFilter" [routerLink]="'/trainer-calendar'">Calendar</button>&nbsp;
            <button  *ngIf="!searchFilter" class="btn btn-primary"  (click)="exportExcel()">Download Summary</button>
          </div>  
          <br> 
            <table mat-table [dataSource]="this.datasource" class="mat-elevation-z8">
                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef> Trainer </th>
                    <td mat-cell *matCellDef="let element"> {{element.scheduleUser.fullName }} </td>
                </ng-container>
                  <ng-container matColumnDef="task">
                    <th mat-header-cell *matHeaderCellDef> Task </th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                  </ng-container>
                  <ng-container matColumnDef="date-range">
                    <th mat-header-cell *matHeaderCellDef> Task Duration </th>
                    <td mat-cell *matCellDef="let element"> {{element.start_date | date:'dd/MM/yyyy'}}&nbsp;<span *ngIf="element.end_date"> - &nbsp;{{element.end_date | date:'dd/MM/yyyy'}}</span> </td>
                  </ng-container>
                  <ng-container matColumnDef="freeHours">
                    <th mat-header-cell *matHeaderCellDef> Free Hours </th>
                    <td mat-cell *matCellDef="let element"> {{element.freeHours}} hrs</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
    </main>
    </div>